html {
	/* 
	 * after picking a doctype the width & height need to be specified if i 
	 * want my page to scale with the screen
	 */
	width: 100%;
	height: 100%;
	
	margin: 0px;
	padding: 0px;
}

body {
	width: 100%;
	height: 100%;
	margin: 0px; 
	padding: 0px;
	font-family: 'ABeeZee';
}

p {
    float: left;
    margin: 0;
    margin-right: 4px;
    padding: 0;
}

h1 {
    white-space: pre;
}

h2 {
    white-space: pre;
}

#container {
	width: 100%;
	height: 100%;
}

#header {
	height: 80px;
	width: 100%;
	margin-bottom: -80px;
	padding-top: 0px;
	text-indent: 10px;
}

#header h1 { 
	margin-top: 0px;
	opacity: 1;
	color: #99cc33;
	font-size: 130px;
}

@-moz-document url-prefix() {
	#header h1 { 
	/* 
	 * font weight is a needed for firefox 
	 * (font wieght of h1 is rediculous in firefox) 
	 */
	font-weight: 500;
	}
}

.inner-half {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.empty-space {
	height: 80px;
	width: 100%;
}

#left-half {
	float: left;
	width: 40%;
	height: 100%;
	
}

#left-half .inner-half {
    width: 70%;
    direction: rtl; text-align: left; 
}

#left-half #intro-text {
    margin-left: 60px;
	font-style: italic;
	padding-bottom: 30px;
	overflow: auto;
}

#left-half #main-text {
    margin-left: 60px;
    overflow: auto
}


#right-half {
	float: left;
	width: 60%;
	height: 100%;
}

#right-half .inner-half .preview-button {
    border: 0;
    background: 0;
    text-align: left;

	border-bottom: solid;
	border-color: #99cc33;
	
	width: 100%;
	margin: 0;
	height: 200px;
	text-indent: 20%;
	
	font-size: 60px;
	opacity: 0.6;
    color: #000000;
}

#right-half .inner-half .preview-button:hover {
	opacity: 0.2;
    background-color: #FFFFFF;
}

#right-half .inner-half .active {
    text-indent: 2%;
}

/*
 * loader stuff
 */
.visible {
    margin-right: -50px;
    float: left;
    position: relative;
    visibility: visible;
}

.hidden {
    margin-right: -50px;
    float: left;
    position: relative;
    visibility: hidden;
}

/*
 * color profiles
 */
.header-light {
    opacity: 0.6;
    background-color: #FFFFFF;
}

.text-light {
    color: #cccccc;
}

.h2-text-light {
    color: #FFFFFF;
}

.header-dark {
    opacity: 0.7;
    background-color: #000000;
}

.text-dark {
    color: #666666;
}

.h2-text-dark {
    color: #000000;
}

/*
 * awesome mouse over text thing
 */
.mouseover {
    background-color: #ff00cc;
}
