body {
	margin: 0;
	padding: 0;
}

#container {
	display: inline;
}

#left-block {
	float: left;
	width: 50%;
	height: 100%;
	background-color: #D7DF01;
}

#right-block {
	float: left;
	width: 50%;
	height: 100%;
	background-color: #FF0000;
}
